* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: rgba(239, 213, 161, 0.132);
}
.navbare {
  height: 12vh;
  background-color: rgb(157, 52, 7);
  max-width: 100.82%;
}
.searche {
  width: 80%;
  border-radius: 18px;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoimg {
  height: 50px;
  width: 50px;
}
.carde {
  position: relative;
  height: 290px;
  width: 230px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 35px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 5px 5px 5px rgb(101, 100, 100);
}
.carde:hover {
  box-shadow: 5px 5px 5px wheat;
}
.carde:hover {
  .title-carde {
    width: 230px;
    overflow: hidden;
    top: 50%;
  }
}
.carde-image {
  height: 290px;
  width: 230px;
}

.title-carde {
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -50%;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 10%;
  margin-right: 12px;
  text-decoration: none;
}
.contente{
  font-weight: bold;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.header{
  display: flex;
}
.header,.header-center{
  height: 38vh;
  background-color: antiquewhite;
  margin-bottom: 14px;
}
.header-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont{
  display: flex;
  flex-direction: column;
}
.fontes{
  font-size: 29px;
  font-weight: bolder ;
  font-style: italic ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




